.design {
    background: rgba(0, 0, 0, 0.5);
    /* margin: 0 3px 0 3px; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%; /* Adjusted to take full width */
    max-width: 400px; /* Added max-width to control width on larger screens */
    padding: 2em;
    margin-bottom: 20px; /* Added margin-bottom for spacing between elements */
}
.design::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 500px;
    background: linear-gradient(#ff6b00, #999999);
    animation: rotate 4s linear infinite;
}

.design::after {
    content: "";
    position: absolute;
    background-color: #fff;
    inset: 5px;
    border-radius: 15px;
    
}

@keyframes rotate {
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}

}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .design {
        max-width: none; /* Remove max-width */
    }
}
